# Funcions in python

In [1]:
def tea():
    print("boil water")
    print("add milk")
    print("boil")

print("not a part of function")    
    
def coffee():
    print("boil milk")
    print("pour")
    print("stir")

not a part of function

In [2]:
tea()

boil water
add milk
boil

In [3]:
coffee()

boil milk
pour
stir

In [4]:
# function to say hello to people by their name

def hello(name):
    print("hello ",name)
hello("nensi")

hello  nensi

In [5]:
hello(5)

hello  5

In [6]:
hello(True)

hello  True

In [7]:
print(type(hello))

<class 'function'>

In [8]:
#multiple arguments

def fight(name, age):
    print("Name :",name, "Age :",age)

In [9]:
fight("nensi",19)

Name : nensi Age : 19

In [20]:
def fight(name, age, college = ["charusat"]):
    print("Name :",name, "Age :",age,"college :",college)

In [21]:
fight("nensi",19,college)

NameError: name 'college' is not defined

## Returning data from a function

In [12]:
def cube(x):
    ans = x **3
    return ans

In [14]:
cube(2)

8

In [15]:
x = 5
y = cube(x)
y

125

In [29]:
def spiderman():
    return "peter", 20, "tom"
    return 5,4,3 # reduntant code, never get executed

In [30]:
name, age, actor = spiderman()

In [31]:
print("name :",name)
print("age :",age)
print("actor :",actor)

name : peter
age : 20
actor : tom

## Calling with keyword pair arguments

In [32]:
def fight(name, age):
    print("Name :",name, "Age :",age)

In [34]:
fight(age = 19,name = "nensi")

Name : nensi Age : 19

## Call Stack

In [39]:
def square(x):
    return x**2

def pythagoras(a,b):
    c2 = square(a) + square(b)
    return c2

print(pythagoras(4,5))
print("hello")
print(square(10))

41
hello
100

## Map function

In [40]:
def square(x):
    return x**2

a = [5,2,6,9,3]

In [42]:
b = [25,4,36,81,9]

In [43]:
b = []
for x in a:
    b.append(square(x))

In [44]:
b

[25, 4, 36, 81, 9]

In [46]:
b = list(map(square, a))
b

[25, 4, 36, 81, 9]

## Lambda function

In [47]:
def square(x):
    return x**2

def cube(x):
    return x**3

In [48]:
square2 = lambda x : x**2

In [49]:
square2(10)

100

In [52]:
multiply1 = lambda a,b : a*b

def multiply2(a,b):
    return a*b

In [53]:
multiply2(6,5)

30