In [1]:
s = {1,4,0,2,3}
s

{0, 1, 2, 3, 4}

In [2]:
type(s)

set

In [3]:
s.add(5)
s

{0, 1, 2, 3, 4, 5}

In [4]:
s.update([6,7,8,9])
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
s.remove(9)
s

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
s.discard(8)
s

{0, 1, 2, 3, 4, 5, 6, 7}

In [8]:
s = set([1,2,3])
s

{1, 2, 3}

In [9]:
s = set((4,5,6))
s

{4, 5, 6}

In [10]:
s = {[1,2], 'hello', 2, 2.3}
s

TypeError: unhashable type: 'list'

In [11]:
s = {(1,2), 'hello', 2, 2.3}
s

{(1, 2), 2, 2.3, 'hello'}

In [17]:
f1 = ['abc', 'xyz']
f2 = ['pqr', 'mno','ihy']
f3 = ['ily', 'imu','abc']

In [18]:
s = set()
s.update(f1,f2,f3)
s

{'abc', 'ihy', 'ily', 'imu', 'mno', 'pqr', 'xyz'}

In [20]:
f4 = ['jkl', 'asd','abc']

In [21]:
for tv in f4:
    if tv in s:
        print(tv)

abc

In [23]:
s = set()
s.add(f1,f2,f3)
s

TypeError: set.add() takes exactly one argument (3 given)

# Dictionary

In [30]:
currency = {
    'India': 'Rupee',
    'USA' : 'Dollar',
    'Japan':'Yen',
    'Spain':'Euro',
    'Itali':'Euro'
}
currency

{'India': 'Rupee',
 'USA': 'Dollar',
 'Japan': 'Yen',
 'Spain': 'Euro',
 'Itali': 'Euro'}

In [31]:
type(currency)

dict

In [32]:
currency['India']

'Rupee'

In [33]:
currency['USA'] = 'USD'
currency

{'India': 'Rupee',
 'USA': 'USD',
 'Japan': 'Yen',
 'Spain': 'Euro',
 'Itali': 'Euro'}

In [35]:
t = (1,2,3)
currency[t] = 'ok'
currency

{'India': 'Rupee',
 'USA': 'USD',
 'Japan': 'Yen',
 'Spain': 'Euro',
 'Itali': 'Euro',
 (1, 2, 3): 'ok'}

In [37]:
currency['el salvador'] = 'USD','Bitcoin'
currency

{'India': 'Rupee',
 'USA': 'USD',
 'Japan': 'Yen',
 'Spain': 'Euro',
 'Itali': 'Euro',
 (1, 2, 3): 'ok',
 'el salvador': ('USD', 'Bitcoin')}

In [38]:
currency['el salvador'] = set(['USD','Bitcoin'])
currency

{'India': 'Rupee',
 'USA': 'USD',
 'Japan': 'Yen',
 'Spain': 'Euro',
 'Itali': 'Euro',
 (1, 2, 3): 'ok',
 'el salvador': {'Bitcoin', 'USD'}}

In [39]:
currency[None] = 'ok'
currency

{'India': 'Rupee',
 'USA': 'USD',
 'Japan': 'Yen',
 'Spain': 'Euro',
 'Itali': 'Euro',
 (1, 2, 3): 'ok',
 'el salvador': {'Bitcoin', 'USD'},
 None: 'ok'}

In [41]:
menu = { 
    'dal makhani' : 200,
    'Kulche': 150,
    'nan': 100
}
menu

{'dal makhani': 200, 'Kulche': 150, 'nan': 100}

## Iterating over a dictionary

In [42]:
menu.keys()

dict_keys(['dal makhani', 'Kulche', 'nan'])

In [43]:
menu.values()

dict_values([200, 150, 100])

In [49]:
# Check Palindrome , time complexity = O(n)

def solve (A):
    freq = {}
    for char in A:
        print(freq)
        if char in freq:
            freq[char] +=1
        else:
            freq[char] = 1
    odd_freq = 0  
    for frequency in freq.values():
        if frequency % 2 == 1:
            odd_freq += 1
    if odd_freq <= 1:
        return 1
    else:
        return 0

In [50]:
solve("nen")

{}
{'n': 1}
{'n': 1, 'e': 1}

1

In [51]:
solve("xyz")

{}
{'x': 1}
{'x': 1, 'y': 1}

0

## 2D Lists

In [52]:
a = [1,4,9,2,[1,2]]

In [53]:
a

[1, 4, 9, 2, [1, 2]]

In [54]:
type(a[4])

list

In [55]:
a = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [56]:
a

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [57]:
a[0] # first row

[1, 2, 3, 4]

In [58]:
a[1] # second row

[5, 6, 7, 8]

In [59]:
a[0][2]

3

In [60]:
a = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [61]:
b = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [62]:
for row in a:
    print(*row)

1 2 3 4
5 6 7 8
9 10 11 12

In [65]:
for row in a:
    for x in row:
        print(x**2, end=' ')
    print()

1 4 9 16
25 36 49 64
81 100 121 144

In [69]:
r,c = map(int, input().split())

2 4

In [70]:
r

2

In [71]:
type(r)

int

In [73]:
a = []
for i in range(r):
    row = list(map(int, input().split()))
    a.append(row)

1 2 3 4
5 6 7 8

In [74]:
a

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [75]:
import math
math.pi

3.141592653589793

In [76]:
int(3/4)

0