## List Slicing

In [1]:
name = ['n', 'i', 'z', 'p', 'd', 'g']

In [2]:
print(type(name))

<class 'list'>

In [3]:
a = name[2:5:1]
a

['z', 'p', 'd']

In [5]:
b = name[::2]
b

['n', 'z', 'd']

## Reverse a List

In [6]:
a = [1,2,3,4,5,6,7,8,9]
print(a[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## List Comprehension

In [9]:
# Square list

res = []
for i in range(1,101):
    res.append(i**2)
res

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [8]:
res = [i**2 for i in range(1,101)]
res

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [10]:
def square(x):
    return x**2
res2 = list(map(square, range(1,101)))
print(res2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [14]:
a = [1,2,3,4,5,6,7,8,9,10]
b = []

for x in a:
    if x%2==0:
        b.append(x)
b

[2, 4, 6, 8, 10]

In [15]:
b = [x for x in a if x % 2 ==0]
b

[2, 4, 6, 8, 10]

# Tuples

In [17]:
a = (1,2,3,4,5,6,7)

In [18]:
print(type(a))

<class 'tuple'>

In [22]:
vowels = ('a', 'e', 'i', 'o', 'u')
vowels

('a', 'e', 'i', 'o', 'u')

In [23]:
vowels = 'a', 'e', 'i', 'o', 'u'
vowels

('a', 'e', 'i', 'o', 'u')

In [24]:
type(vowels)

tuple

In [25]:
a = tuple()

In [26]:
a = tuple([1,2,3])
type(a)

tuple

In [28]:
a = ("hello", 5, 5.678, [1,2,3], False)
a

('hello', 5, 5.678, [1, 2, 3], False)

In [29]:
type(a)

tuple

In [30]:
b = list(a)
print(b)

['hello', 5, 5.678, [1, 2, 3], False]

In [31]:
type(a[3])

list

In [32]:
x = (2,4,6,8)

In [33]:
print(x[::-1])

(8, 6, 4, 2)

In [35]:
z = (2,3,1,5,['hello'])
z[4].append("world")
z

(2, 3, 1, 5, ['hello', 'world'])

In [36]:
c = x + z
c

(2, 4, 6, 8, 2, 3, 1, 5, ['hello', 'world'])

In [37]:
a = [1,2,3]
b = (4,5,a)
a.append(10)
b

(4, 5, [1, 2, 3, 10])

In [38]:
# check if sorted

ans = "Sorted"
a = (1,4,10,12,14,18,20)
for i in range(len(a) - 1):
    if a[i] < a[i+1]:
        continue
    else:
        ans = "Not sorted"
        break
print(ans)

Sorted

## Functions - args

In [39]:
# write a function which returns the products of all arguments

def product(*nums):
    print(nums, type(nums))

In [40]:
product(10,20,30)

(10, 20, 30) <class 'tuple'>

In [43]:
def product(*args):
    p = 1
    for number in args:
        p = p * number
    print(args)
    return p

In [44]:
product(10,20)

(10, 20)

200

In [45]:
def product(*args):
    p = 1
    print(args)
    for number in args:
        p = p * number
    return p

In [46]:
product()

()

1

In [47]:
a = [1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [48]:
# * spread operator

print(*a)

1 2 3 4 5 6