# Function - kwargs

## keyword arguments

In [1]:
def person(name, age, profession,**kwargs):
    print(name, age, profession)
    print(kwargs)
    print(type(kwargs))

In [2]:
person("Nensi", 19, "Student", city= "surat")

Nensi 19 Student
{'city': 'surat'}
<class 'dict'>

In [3]:
def hogwarts(h1, h2, h3, h4, *args, **kwargs):
    print("House are :", h1, h2, h3, h4)
    print()
    print("Args :", args)
    print()
    print("Kwargs :", kwargs)

In [4]:
hogwarts("abc", "pqr", "mnp", "xyz", "ily", "imu", "ihu", headmaster = "abc")

House are : abc pqr mnp xyz

Args : ('ily', 'imu', 'ihu')

Kwargs : {'headmaster': 'abc'}

# Strings

### Python strings are immutable

## Initialisation and Indexing

In [5]:
books = '''
i am nensi
aiml student
'''

In [6]:
print(books)

i am nensi
aiml student

In [7]:
book = 'harry potter and the half blood prince'
book[5]

' '

In [8]:
len(book)

38

In [9]:
s = "hello"
s = "hello world"
s

'hello world'

## Concatentation : +

In [10]:
h1 = "hello"
h2 = " world "

h3= h1 + h2 + str(2)
h3

'hello world 2'

## Repetition

In [11]:
hello = " hello world "
s = hello*5
s

' hello world  hello world  hello world  hello world  hello world '

In [12]:
"1 "*10

'1 1 1 1 1 1 1 1 1 1 '

## in operator

In [13]:
book = 'harry potter and the half blood prince'

In [14]:
if "harry" in book:
    print("yes")
else:
    print("no")

yes

## Count

In [15]:
book.count("harry")

1

## .find()

In [16]:
book = 'harry potter and the half blood prince'
print(book.find('and'))

13

## .replace()

In [17]:
text = "python is amazing"
text

'python is amazing'

In [18]:
new = text.replace('amazing', 'awesome')
new

'python is awesome'

In [19]:
new = text.replace('i', 'x')
new

'python xs amazxng'

## lower() & upper()

In [20]:
book = 'harry potter and the half blood prince'

In [21]:
lower_case = book.lower()
lower_case

'harry potter and the half blood prince'

In [22]:
upper_case = book.upper()
upper_case

'HARRY POTTER AND THE HALF BLOOD PRINCE'

## Looping over strings

In [23]:
for char in book:
    print(char, end='/')

h/a/r/r/y/ /p/o/t/t/e/r/ /a/n/d/ /t/h/e/ /h/a/l/f/ /b/l/o/o/d/ /p/r/i/n/c/e/

In [24]:
# delete

del book

In [25]:
book

NameError: name 'book' is not defined

## ord function

### to get the ASCII code for the any char

In [26]:
ord('a')

97

In [27]:
ord('A')

65

In [28]:
ord('ab')

TypeError: ord() expected a character, but string of length 2 found

## String splicing

In [29]:
s = "hello world"
s[:-1]

'hello worl'

In [30]:
n = 4
for i in range(1, n+1):
    c = chr(i + ord('A') - 1)
    s = (c + " ") * i
    print(s[:-1])

A
B B
C C C
D D D D

## strip function

In [31]:
s = "      hello"
s

'      hello'

In [32]:
s.lstrip()

'hello'

In [33]:
s.rstrip()

'      hello'

In [34]:
book = 'harry potter and the half blood prince'
l = book.split()
l

['harry', 'potter', 'and', 'the', 'half', 'blood', 'prince']

In [35]:
type(l)

list

In [36]:
l = l[::-1]
l

['prince', 'blood', 'half', 'the', 'and', 'potter', 'harry']

In [37]:
s = " ".join(l)
s

'prince blood half the and potter harry'

In [38]:
s = "this book"
s = s[::-1]
s

'koob siht'

In [39]:
s = " ".join(s.split()[::-1])
s

'siht koob'

## Format strings

In [40]:
apple_count = 4
orange_count = 10
guava_count = 5

In [42]:
s = "I have " + str(apple_count) + " apples " + str(orange_count) + " oranges and " + str(guava_count) + " guavas"
s

'I have 4 apples 10 oranges and 5 guavas'

In [44]:
s = f"I have {apple_count} apples, {orange_count} oranges and {guava_count} guavas
s

SyntaxError: unterminated string literal (detected at line 1) (2983493558.py, line 1)

In [45]:
s = "I have {} apples, {} oranges and {} guavas".format(apple_count, orange_count, guava_count)
s

'I have 4 apples, 10 oranges and 5 guavas'

## Docstrings

In [46]:
range?

In [49]:
def square(x):
    '''
    This function returns the square of a number
    '''
    return x**2

In [50]:
square?

In [51]:
square(5)

25